/* 
* @Author: Marte
* @Date:   2017-03-28 19:58:04
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-29 09:18:54
*/
        *{
            margin: 0px;
            padding: 0px;
            }
           body{
            background: url("../img/wholebg.jpg") no-repeat center;
            background-size: width:100%; height:100%;
            position: relative;
           }
           h1{
            color:#ccc;
            position:absolute;
            left: 5%;
            top: 50px;
           }
            #fenleishujv{
                width:400px;
                height:400px;
                position:absolute;
                right: 10%;
                top: 20px;
            }
            #chinaMap{
                width:600px;
                height:600px;
                position:absolute;
                left: 10%;
                top: 140px;
            }
            #news{
                width:400px;
                height:250px;
                background-color: rgba(0, 0, 0, 0.5);
                position:absolute;
                right:10%;
                top: 450px;
                /*animation:myfirst 3s linear infinite alternate;*/
            }
            #neirong{
                width:400px;
                height:100px;
                color: white;
                position:absolute;
                left:0px;
                top: 80px;
            }
            #neirong.innerText{
                animation:myfirst 3s linear infinite alternate;
            }
            @keyframes myfirst{
                from {background:pink;}
                to {background:yellow;}
            }